---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: splunk
  name: splunk-args
data:
  SPLUNK_START_ARGS: --accept-license
  SPLUNK_GENERAL_TERMS: --accept-sgt-current-at-splunk-com
  SPLUNK_PASSWORD: qwerty123
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: splunk
  namespace: splunk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: splunk
  template:
    metadata:
      labels:
        app: splunk
    spec:
      containers:
      - image: splunk/splunk:latest
        name: splunk
        envFrom:
        - configMapRef:
            name: splunk-args
---
apiVersion: v1
kind: Service
metadata:
  name: splunk-svc
  namespace: splunk
spec:
  type: LoadBalancer
  selector:
    app: splunk
  ports:
  - name: web
    port: 8000
    targetPort: 8000
  - name: forwarding
    port: 9997
    targetPort: 9997
